<div class="movie" data-tmdb-id="<%= movie.id %>">
  <h2><%= movie.title %></h2>
  <%= image_tag movie.poster_url %>

  <% if current_user.present? %>
    <% 1.upto(5) do |value| %>
      <div class="star">
        <%= form_for :rating, url: movie_rate_path(movie.id), remote: true do |f| %>
          <%= f.hidden_field :value, value: value %>
          <% star_class = movie.rating.present? && movie.rating >= value ? 'star' : 'star-empty' %>
          <button type="submit" class="btn btn-default" aria-label="Rate movie <%= value %> stars">
            <span class="glyphicon glyphicon-<%= star_class %>" aria-hidden="true"></span>
          </button>
        <% end %>
      </div>
    <% end %>

    <% unless movie.rating.present? %>
      <div class="want-to-watch">
        <%= form_for :want_to_watch, url: movie_toggle_want_to_watch_path(movie.id), remote: true do |f| %>
          <% check_class = movie.want_to_watch? ? 'check' : 'unchecked' %>
          <button type="submit" class="btn btn-default" aria-label="Want to watch">
            <span class="glyphicon glyphicon-<%= check_class %>" aria-hidden="true"></span> Want to watch
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
