<% title @movie.title_with_year %>

<div class="container-fluid">
  <div class="movie row">
    <div class="col-xs-12 col-sm-6">
      <% if @movie.youtube_trailer_id.present? %>
        <div class="trailer">
          <%= render 'movies/video', youtube_video_id: @movie.youtube_trailer_id, width: '100%', height: '100%', next_page_path: nil, autoplay: false %>
        </div>
      <% else %>
        <div class="movie-poster">
          <%= image_tag @movie.large_poster_url, alt: @movie.title %>
        </div>
      <% end %>
      <%= render 'movies/actions', movie: @movie %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="movie-title">
        <%= @movie.title_with_year %>
      </div>
      <div class="movie-tagline">
        <%= @movie.tagline %>
      </div>
      <div class="movie-details">
        <div class="movie-detail imdb-url">
          <div class="detail-value">
            <% if @movie.imdb_url.present? %>
              <%= link_to @movie.imdb_url, @movie.imdb_url %>
            <% end %>
          </div>
        </div>
        <div class="movie-detail overview">
          <div class="movie-detail-title">
            Overview
          </div>
          <div class="detail-value">
            <%= @movie.overview %>
          </div>
        </div>
        <div class="movie-detail genres">
          <div class="movie-detail-title">
            Genres
          </div>
          <div class="detail-value">
            <%= @movie.genre_names.join(', ') %>
          </div>
        </div>
        <div class="movie-detail runtime">
          <div class="movie-detail-title">
            Runtime
          </div>
          <div class="detail-value">
            <%= @movie.runtime %> minutes
          </div>
        </div>
        <div class="movie-detail languages">
          <div class="movie-detail-title">
            Languages
          </div>
          <div class="detail-value">
            <%= @movie.language_names.join(', ') %>
          </div>
        </div>
        <div class="movie-detail status">
          <div class="movie-detail-title">
            Status
          </div>
          <div class="detail-value">
            <%= @movie.status %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
