<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% meta_tag_defaults = { site: 'myfil.ms', title: 'Your personal film list', reverse: true } %>
    <%= display_meta_tags(meta_tag_defaults) %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'analytics/google_analytics' %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_path %>">
            myfil.ms
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
              <%= active_link_to "Discover", discover_movies_path, wrap_tag: :li %>
              <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My lists <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <%= active_link_to "Watched (#{current_user.ratings.count})", watched_lists_path, wrap_tag: :li %>
                    <%= active_link_to "Want to watch (#{current_user.want_to_watches.count})", want_to_watch_lists_path, wrap_tag: :li %>
                  </ul>
                </li>
              <% end %>
            </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Support', 'https://twitter.com/AndrewVos' %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <% if user_signed_in? %>
                  <%= active_link_to "Account", edit_user_registration_path, wrap_tag: :li %>
                  <%= active_link_to "Sign Out", destroy_user_session_path, wrap_tag: :li, method: :delete %>
                <% else %>
                  <%= active_link_to "Sign In", new_user_session_path, wrap_tag: :li %>
                  <%= active_link_to "Sign Up", new_user_registration_path, wrap_tag: :li %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="search">
            <%= form_with url: search_movies_path, method: :GET, local: true do |f| %>
              <div class="input-group">
                <%= f.text_field :q, value: params[:q], class: 'form-control', placeholder: 'Search for movies...', required: true %>
                <span class="input-group-btn">
                  <%= f.submit 'Search', class: 'btn btn-default' %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
